




body,html { 
 
    border:solid 10px rgb(12, 146, 30)
}


      
.flex2
{
display:flex;
align-items :center;
margin-top:20px;
padding:0px 10px; 

}

 
.sobre p
{
 
height: 2px;
   font: size 20px;
   font-style:italic;  
   direction:left;


}






